@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
  font-size: 1.5rem;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

a {
  color: rgb(15, 187, 245);
  text-decoration: none;
}

pre {
  padding: 1rem;
  background-color: aqua;
  font-size: 1.5rem;
  border-radius: 1rem;
}

