.container{
  max-width: 1000px;
  width: 90vw;
  height: 100vh;
  background-color: aliceblue;
  margin: auto ;
  padding: 1rem 5rem;
}

.site{
  text-align: center;
  color: rgb(127, 129, 255);
}

.articles {
  text-align: center;
  font-size: 1.5rem;
}